/* ===============================
FOOTER
=============================== */

.footer{
background:#000;
color:#fff;
margin-top:60px;
}

/* container */

.footer-container{
max-width:1200px;
margin:auto;
padding:50px 20px;
display:flex;
justify-content:space-between;
flex-wrap:wrap;
gap:40px;
}

/* ===============================
BRAND
=============================== */

.footer-logo{
font-size:24px;
font-weight:700;
margin-bottom:10px;
}

.footer-tagline{
font-size:14px;
color:#bbb;
max-width:250px;
}

/* ===============================
LINKS
=============================== */

.footer-links{
display:flex;
gap:60px;
flex-wrap:wrap;
}

.footer-column{
display:flex;
flex-direction:column;
gap:8px;
}

.footer-column h4{
margin-bottom:8px;
font-size:16px;
}

.footer-column a{
text-decoration:none;
color:#bbb;
font-size:14px;
transition:0.2s;
}

.footer-column a:hover{
color:#fff;
}

/* ===============================
BOTTOM
=============================== */

.footer-bottom{
text-align:center;
padding:18px;
border-top:1px solid #222;
font-size:13px;
color:#aaa;
}

/* ===============================
RESPONSIVE
=============================== */

@media (max-width:768px){

.footer-container{
flex-direction:column;
gap:30px;
}

.footer-links{
gap:30px;
}

.footer-column h4{
font-size:15px;
}

}