.hero{
height:90vh;
background-size:cover;
background-position:center;
display:flex;
align-items:center;
position:relative;
}

/* dark gradient overlay */

.hero::before{
content:"";
position:absolute;
left:0;
top:0;
width:100%;
height:100%;

background:linear-gradient(
90deg,
rgba(0,0,0,0.85) 0%,
rgba(0,0,0,0.65) 35%,
rgba(0,0,0,0.25) 60%,
transparent 100%
);

z-index:1;
}

.hero-content{
position:relative;
z-index:2;

max-width:1200px;
margin:auto;
padding:0 40px;
color:white;
}

/* heading */

.hero-content h1{
font-size:56px;
font-weight:600;
line-height:1.2;
max-width:650px;
}

.hero-content span{
display:block;
font-weight:700;
margin-top:6px;
}

/* paragraph */

.hero-content p{
margin-top:18px;
font-size:18px;
max-width:500px;
opacity:0.85;
}

/* buttons */

.hero-buttons{
margin-top:28px;
display:flex;
gap:16px;
}

.primary-btn{
background:#ff6a2f;
color:white;
border:none;
padding:14px 28px;
font-weight:600;
border-radius:6px;
cursor:pointer;
}

.secondary-btn{
background:white;
color:black;
border:none;
padding:14px 28px;
border-radius:6px;
cursor:pointer;
}

.primary-btn:hover{
background:#ff8253;
}

.secondary-btn:hover{
background:#eee;
}

/* mobile */

@media(max-width:768px){

.hero{
height:80vh;
}

.hero-content h1{
font-size:34px;
}

.hero-content p{
font-size:15px;
}

.hero-buttons{
flex-direction:column;
align-items:flex-start;
}

}



@media(max-width:768px){

.offer-row{
flex-direction:column;
align-items:flex-start;
gap:10px;
}

.offer-title{
padding:0;
margin-bottom:8px;
}

.offer-slider{
width:100%;
}

.offer-track{
gap:20px;
animation-duration:14s;
}

}